loginWebServer/node_modules
MdServer/game-server/node_modules
*.log
MdServer/web-server/node_modules
MdServer/.idea
loginWebServer/.idea
MdClient/Library
MdClient/obj
MdClient/Temp
*.csproj
*.sln
*.userprefs
*.suo